        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 view px-0 hm-black-strong" style="margin-top: 0 !important; height: 91vh !important; width: 100vw !important">
                    <div class="img-full-screen" style="background-image: url('templates/static/images/books.jpg'); background-size: cover; height: 91vh !important;"></div>
                    <div class="mask">
                        <div class="flex-center align-item-center justify-content-center">   
                            <h1 class="white-text book-title h1-responsive border px-2 py-2">Get IGNOU Study Material</h1>
                        </div>
                    </div>				
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12 flex-center py-2">
                    <h4 class="h4-responsive">Download IGNOU BCA and MCA books, all units combined in PDF format from below.</h4>
                </div>
            </div>
            <div class="row py-4" id="book-section">
                <div class="col-md-2"></div>
                <div class="col-md-8 text-center">
                    <div class="tabs-wrapper text-center"> 
                        <ul class="nav classic-tabs tabs-orange black" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link waves-light active" data-toggle="tab" href="#panel61" role="tab"><i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i><br> BCA Books </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link waves-light" data-toggle="tab" href="#panel62" role="tab"><i class="fa fa-university fa-2x" aria-hidden="true"></i><br> MCA books</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Tab panels -->
                    <div class="tab-content card">
                        <!--Panel 1-->
                        <div class="tab-pane fade in show active" id="panel61" role="tabpanel">
                            <!-- Accordion card -->
                            <div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                                <div class="card">
                                    <!-- Card header -->
                                    <div class="card-header" role="tab" id="headingOne">
                                        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <h5 class="mb-0">
                                                Semester: 01 <i class="fa fa-angle-down rotate-icon"></i>
                                            </h5>
                                        </a>
                                    </div>
                                    <!-- Card body -->
                                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="card-body">
                                            <ul class="list-group">
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8aG5sLVZ3bjhJdE0" rel="nofollow"><strong>FEG-02: </strong>Foundation course in English -2
                                                    <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8eHl2ZThLeFlmOHc" rel="nofollow"><strong>ECO-01: </strong>Business Organization
                                                    <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8QUE3QUdjSkxLYUU" rel="nofollow"><strong>BCS-011: </strong>Computer Basics and PC Software
                                                    <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8SlhwRzJGbFZhSms" rel="nofollow"><strong>BCS-012: </strong>Basic Mathematics
                                                    <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8UkhqX2VGNTI4WjQ" rel="nofollow"><strong>BCSL-013: </strong>Computer Basics and PC Software Lab
                                                    <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Accordion card -->
                                <!-- Accordion card -->
                                <div class="card">
                                    <!-- Card header -->
                                    <div class="card-header" role="tab" id="headingTwo">
                                        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                            <h5 class="mb-0">
                                                Semester: 02 <i class="fa fa-angle-down rotate-icon"></i>
                                            </h5>
                                        </a>
                                    </div>
                                    <!-- Card body -->
                                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="card-body">
                                            <ul class="list-group">
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8RFF4eFAzZTVpa0E" rel="nofollow"><strong>ECO-02: </strong>Accountancy-1
                                                    <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8TS1MZHBBem9hSGs" rel="nofollow"><strong>MCS-011: </strong>Problem Solving and Programming
                                                    <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8TkFQQml2RmxiQmM" rel="nofollow"><strong>MCS-012: </strong>Computer Organization and Assembly Language Programming
                                                    <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8UnZpdDVXdHJSS3c" rel="nofollow"><strong>MCS-013: </strong>Discrete Mathematics
                                                    <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8X0tiSENFSmM5ZUU" rel="nofollow"><strong>MCS-015: </strong>Communication Skills
                                                    <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8WGtUYS1aQ01oOW8" rel="nofollow"><strong>BCSL-021: </strong>C Language Programming Lab
                                                    <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8QXV1MmtYUWtpWHc" rel="nofollow"><strong>BCSL-022: </strong>Assembly Language Programming Lab
                                                    <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Accordion card -->
                                <div class="card">
                                    <!-- Card header -->
                                    <div class="card-header" role="tab" id="headingThree">
                                        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                            <h5 class="mb-0">
                                                Semester: 03 <i class="fa fa-angle-down rotate-icon"></i>
                                            </h5>
                                        </a>
                                    </div>
                                    <!-- Card body -->
                                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="card-body">
                                            <ul class="list-group">
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8dXlUalQ3dG8zdGc" rel="nofollow"><strong>MCS-021: </strong>Data and File Structures
                                                    <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8N2Z2VEh3eklrOW8" rel="nofollow"><strong>MCS-023: </strong>Introduction to Database Management Systems
                                                    <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8b3ZfRWhQWWljM2s" rel="nofollow"><strong>MCS-014: </strong>Systems Analysis and Design
                                                    <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8YzQ4eHZHU0JkaUk" rel="nofollow"><strong>BCS-031: </strong>Programming in C++
                                                    <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8ZWRGdkgzNHoyemc" rel="nofollow"><strong>BCSL-032: </strong>C++ Programming Lab
                                                    <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8TFIwMXo3Y09zamc" rel="nofollow"><strong>BCSL-033: </strong>Data and File Structures Lab
                                                    <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8YVJkc0xORFVwU3M" rel="nofollow"><strong>BCSL-034: </strong>DBMS Lab</a>
                                                    <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Accordion card -->
                                <div class="card">
                                    <!-- Card header -->
                                    <div class="card-header" role="tab" id="headingFour">
                                        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                            <h5 class="mb-0">
                                                Semester: 04 <i class="fa fa-angle-down rotate-icon"></i>
                                            </h5>
                                        </a>
                                    </div>
                                    <!-- Card body -->
                                    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                                        <div class="card-body">
                                            <ul class="list-group">
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8bE1xbkFjUVpWbTg" rel="nofollow"><strong>BCS-040: </strong>Statistical Techniques
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8SVp1dWlNXzVLTDg" rel="nofollow"><strong>MCS-024: </strong>Object Oriented Technologies and Java Programming
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8RkVKZEJfWUZIXzg" rel="nofollow"><strong>BCS-041: </strong>Fundamentals of Computer Networks
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8V2JTb3hKclJFclU" rel="nofollow"><strong>BCS-042: </strong>Introduction to Algorithm Design
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8LXRZZGh5UC1CMGM" rel="nofollow"><strong>MCSL-016: </strong>Internet Concepts and Web Design 
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8OS14YUNqZXh6bnM" rel="nofollow"><strong>BCSL-043: </strong>Java Programming Lab
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8VFY1ZXNydHV2bGM" rel="nofollow"><strong>BCSL-044: </strong>Statistical Techniques Lab
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8WmdPd01kdUhCWTQ" rel="nofollow"><strong>BCSL-045: </strong>Algorithm Design Lab
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Accordion card -->
                                <div class="card">
                                    <!-- Card header -->
                                    <div class="card-header" role="tab" id="headingFive">
                                        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                            <h5 class="mb-0">
                                                Semester: 05 <i class="fa fa-angle-down rotate-icon"></i>
                                            </h5>
                                        </a>
                                    </div>
                                    <!-- Card body -->
                                    <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                                        <div class="card-body">
                                            <ul class="list-group">
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8aHZfLVEwYW5fRmc" rel="nofollow"><strong>BCS-051: </strong>Introduction to Software Engineering
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8dmZkd25zVUlULUE" rel="nofollow"><strong>BCS-052: </strong>Network Programming and Administration
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8cWVBZU00bWktWjg" rel="nofollow"><strong>BCS-053: </strong>Web Programming
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8R19yWVB4SDRaN1U" rel="nofollow"><strong>BCS-054: </strong>Computer Oriented Numerical Techniques
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8Q2xWdkhlajBmWlU" rel="nofollow"><strong>BCS-055: </strong>Business Communication 
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8bHpJRlBNZTI5SXc" rel="nofollow"><strong>BCSL-056: </strong>Network Programming and Administration Lab
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8dGstMUpJZlZOT2s" rel="nofollow"><strong>BCSL-057: </strong>Web Programming Lab
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8aUtqRW1iMnBaZFE" rel="nofollow"><strong>BCSL-058: </strong>Computer Oriented Numerical Techniques Lab
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Accordion card -->
                                <div class="card">
                                    <!-- Card header -->
                                    <div class="card-header" role="tab" id="headingSix">
                                        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                                            <h5 class="mb-0">
                                                Semester: 06 <i class="fa fa-angle-down rotate-icon"></i>
                                            </h5>
                                        </a>
                                    </div>
                                    <!-- Card body -->
                                    <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
                                        <div class="card-body">
                                            <ul class="list-group">
                                                <li class="list-group-item"><a href="#" rel="nofollow"><strong>BCS-062: </strong>E-Commerce
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8YXNkYzRDZ1Q4Qzg" rel="nofollow"><strong>MCS-022: </strong>Operating System Concepts and Networking Management
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="#" rel="nofollow"><strong>BCSL-063: </strong>Operating System Concepts and Networking Management Lab
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8cnlnZVVqUHgwWmM" rel="nofollow"><strong>BCSP-064: </strong>Project
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Panel 1-->
                        <!--Panel 2-->
                        <div class="tab-pane fade" id="panel62" role="tabpanel">
                            <div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                                <!-- Accordion card -->
                                <div class="card">
                                    <!-- Card header -->
                                    <div class="card-header" role="tab" id="headingSeven">
                                        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                                            <h5 class="mb-0">
                                                Semester: 01 <i class="fa fa-angle-down rotate-icon"></i>
                                            </h5>
                                        </a>
                                    </div>
                                    <!-- Card body -->
                                    <div id="collapseSeven" class="collapse show" role="tabpanel" aria-labelledby="headingSeven">
                                        <div class="card-body">
                                            <ul class="list-group">
                                                <li class="list-group-item"><a href="https://docs.google.com/uc?export=download&id=0BxYdSKUfQBA7UzkwZDhKTjl0RVE" rel="nofollow"><strong>MCS-011: </strong>Problem Solving and Programming
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://docs.google.com/uc?export=download&id=0BxYdSKUfQBA7bi1laU4xZXViVGM" rel="nofollow"><strong>MCS-012: </strong>Computer Organization and Assembly language Programming
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://docs.google.com/uc?export=download&id=0BxYdSKUfQBA7UmhHTkFVR0szTEU" rel="nofollow"><strong>MCS-013: </strong>Discrete Mathematics
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://docs.google.com/uc?export=download&id=0BxYdSKUfQBA7UjRXcmNfUDFHRlU" rel="nofollow"><strong>MCS-014: </strong>Systems Analysis and Design
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://docs.google.com/uc?export=download&id=0BxYdSKUfQBA7SFlKajBTcEFta3c" rel="nofollow"><strong>MCS-015: </strong>Communication Skills
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://docs.google.com/uc?export=download&id=0BxYdSKUfQBA7Z09WdlRENGItV1E" rel="nofollow"><strong>MCSL-016: </strong>Internet Concepts and Web Design
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://docs.google.com/uc?export=download&id=0BxYdSKUfQBA7SXB6VXh1ZWRIbFk" rel="nofollow"><strong>MCSL-017: </strong>C and Assembly Language Programming Lab
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Accordion card -->
                                <!-- Accordion card -->
                                <div class="card">
                                    <!-- Card header -->
                                    <div class="card-header" role="tab" id="headingEight">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                            <h5 class="mb-0">
                                                Semester: 02 <i class="fa fa-angle-down rotate-icon"></i>
                                            </h5>
                                        </a>
                                    </div>
                                    <!-- Card body -->
                                    <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight">
                                        <div class="card-body">
                                            <ul class="list-group">
                                                <li class="list-group-item"><a href="https://docs.google.com/uc?export=download&id=0BxYdSKUfQBA7ekY5VGRJQnJKb2s" rel="nofollow"><strong>MCS-021: </strong>Data and File Structures
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8SGlVaU1wV1ZidDQ" rel="nofollow"><strong>MCS-022: </strong>Operating System Concepts and Networking Management
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://docs.google.com/uc?export=download&id=0BxYdSKUfQBA7cFotV2w5MnlGRjg" rel="nofollow"><strong>MCS-023: </strong>Introduction to Database Management Systems
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://docs.google.com/uc?export=download&id=0BxYdSKUfQBA7Y1Zhb2ZNQnQwaHc" rel="nofollow"><strong>MCS-024: </strong>Object Oriented Technologies and Java Programming
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://docs.google.com/uc?export=download&id=0BxYdSKUfQBA7WXA5Q0phaWNTSGM" rel="nofollow"><strong>MCSL-025: </strong>Lab (based on MCS-021, 022, 023 & 024)
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Accordion card -->
                                <!-- Accordion card -->
                                <div class="card">
                                    <!-- Card header -->
                                    <div class="card-header" role="tab" id="headingNine">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                            <h5 class="mb-0">
                                                Semester: 03 <i class="fa fa-angle-down rotate-icon"></i>
                                            </h5>
                                        </a>
                                    </div>
                                    <!-- Card body -->
                                    <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine">
                                        <div class="card-body">
                                            <ul class="list-group">
                                                <li class="list-group-item"><a href="https://docs.google.com/uc?export=download&id=0BxYdSKUfQBA7dFVkRHhXSHloems" rel="nofollow"><strong>MCS-031: </strong>Design and Analysis of Algorithms
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>	
                                                <li class="list-group-item"><a href="https://docs.google.com/uc?export=download&id=0BxYdSKUfQBA7VTQ1SUVNckdNZVU" rel="nofollow"><strong>MCS-032: </strong>Object Oriented Analysis and Design
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://docs.google.com/uc?export=download&id=0BxYdSKUfQBA7bFl6SVRFNW51MUE" rel="nofollow"><strong>MCS-033: </strong>Advanced Discrete Mathematics
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8Y3Y1OUZaa2cwTWc" rel="nofollow"><strong>MCS-034: </strong>Software Engineering
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://docs.google.com/uc?export=download&id=0BxYdSKUfQBA7VU55aFcweXFJMU0" rel="nofollow"><strong>MCS-035: </strong>Accountancy and Financial Management
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://docs.google.com/uc?export=download&id=0BxYdSKUfQBA7bnZUZ0wtRmI1ZGM" rel="nofollow"><strong>MCSL-036: </strong>Lab(based on MCS-032, 034 and 035)
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <!-- Card header -->
                                    <div class="card-header" role="tab" id="headingTen">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                            <h5 class="mb-0">
                                                Semester: 04 <i class="fa fa-angle-down rotate-icon"></i>
                                            </h5>
                                        </a>
                                    </div>
                                    <!-- Card body -->
                                    <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="headingTen">
                                        <div class="card-body">
                                            <ul class="list-group">
                                                <li class="list-group-item"><a href="https://docs.google.com/uc?export=download&id=0BxYdSKUfQBA7WlhYT2pjeWo3VXM" rel="nofollow"><strong>MCS-041: </strong>Operating Systems
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>	
                                                <li class="list-group-item"><a href="https://docs.google.com/uc?export=download&id=0BxYdSKUfQBA7WHNpSkVFLVdTN00" rel="nofollow"><strong>MCS-042: </strong>Data Communication and Computer Networks
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://docs.google.com/uc?export=download&id=0BxYdSKUfQBA7ZlIycnpyaHhtMjQ" rel="nofollow"><strong>MCS-043: </strong>Advanced Database Management Systems
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://docs.google.com/uc?export=download&id=0BxYdSKUfQBA7eUdDazdMeW5WSU0" rel="nofollow"><strong>MCS-044: </strong>Mini Project
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://docs.google.com/uc?export=download&id=0BxYdSKUfQBA7RmRrb2pzaEF1MFE" rel="nofollow"><strong>MCSL-045: </strong>Lab(UNIX & Oracle)
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingEleven">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                            <h5 class="mb-0">
                                                Semester: 05 <i class="fa fa-angle-down rotate-icon"></i>
                                            </h5>
                                        </a>
                                    </div>
                                    <div id="collapseEleven" class="collapse" role="tabpanel" aria-labelledby="headingEleven">
                                        <div class="card-body">
                                            <ul class="list-group">
                                                <li class="list-group-item"><a href="https://drive.google.com/uc?export=download&id=0B9iMnS6Zneq8czBienFDcXdxQW8" rel="nofollow"><strong>MCS-051: </strong>Advanced Internet Technologies
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>	
                                                <li class="list-group-item"><a href="https://docs.google.com/uc?export=download&id=0BxYdSKUfQBA7elhRY2gyUTYzeXM" rel="nofollow"><strong>MCS-052: </strong>Principles of Management and Information Systems
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://docs.google.com/uc?export=download&id=0BxYdSKUfQBA7UzNPMEVzTktIdEE" rel="nofollow"><strong>MCS-053: </strong>Computer Graphics and Multimedia
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://docs.google.com/uc?export=download&id=0BxYdSKUfQBA7V1hxR1REdVY5WFE" rel="nofollow"><strong>MCSL-054: </strong>Lab( based on MCS-051 & 053)
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://docs.google.com/uc?export=download&id=0BxYdSKUfQBA7Nm5BUUVBNzVrb28" rel="nofollow"><strong>MCSE-003: </strong>Artificial Intelligence and Knowledge Management
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://docs.google.com/uc?export=download&id=0BxYdSKUfQBA7cnVXYUV4ZkZhQUE" rel="nofollow"><strong>MCSE-004: </strong>Numerical and Statistical Computing
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                                <li class="list-group-item"><a href="https://docs.google.com/uc?export=download&id=0BxYdSKUfQBA7aWw0QVdlY0VvVlU" rel="nofollow"><strong>MCSE-011: </strong>Parallel Computing
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingTwelve">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                                            <h5 class="mb-0">
                                                Semester: 06 <i class="fa fa-angle-down rotate-icon"></i>
                                            </h5>
                                        </a>
                                    </div>
                                    <div id="collapseTwelve" class="collapse" role="tabpanel" aria-labelledby="headingTwelve">
                                        <div class="card-body">
                                            <ul class="list-group">
                                                <li class="list-group-item"><a href="http://ignou.ac.in/userfiles/MCSP-060%202013%20Project%20Guidelines.pdf" rel="nofollow"><strong>MCSP-060: </strong>Project
                                                        <span class="badge badge-amber pull-right badge-pill"><i class="fa fa-download" aria-hidden="true"></i></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        <script>
            $(document).ready(function(){
                $("#my_scroll").on('click', function(event) {
                    smooth_scroller(this);
                });
            });
        </script>