        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron text-center">
                        <h1 class="card-title h2-responsive mt-2 blue-text">
                            <strong style="text-shadow:0px 0px 2px black"><i class="fa fa-quote-left"></i>
                                Disclaimer <i class="fa fa-quote-right fa-x"></i></strong>
                        </h1>
                        <div class="d-flex justify-content-center">
                            <p class="card-text mb-3" style="max-width: 60rem;"><strong>IgnouCalculator is and always will be a free and an open source web-app for all the students of IGNOU as well as other general students seeking knowledge. The source code is openly published for the community to use.</strong></p>
                        </div>
                        <hr class="my-4">
                        <div class="row">
                            <div class="col-md-4"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="templates/static/images/disclaimer.jpg" class="b-lazy img-fluid" alt="disclaimer" class="img-fluid rounded"></div>
                            <div class="col-md-8 pt-3 text-justify px-1">
                                <i class="fa fa-hand-o-right h4-responsive pink-text"></i>
                                All the information on this website is published in good faith and for general information purpose only. IgnouCalculator does not make any warranties about the completeness, reliability and accuracy of this information. Any action you take upon the information you find on this website (<a href='https://www.ignoucalculator.com'>https://www.ignoucalculator.com</a>), is strictly at your own risk. IgnouCalculator will not be liable for any losses and/or damages in connection with the use of our website.<br/>
                                From our website, you can visit other websites by following hyperlinks to such external sites. While we strive to provide only quality links to useful and ethical websites, we have no control over the content and nature of these sites. These links to other websites do not imply a recommendation for all the content found on these sites. Site owners and content may change without notice and may occur before we have the opportunity to remove a link which may have gone 'bad'. <br/>
                                Please be also aware that when you leave our website, other sites may have different privacy policies and terms which are beyond our control. Please be sure to check the Privacy Policies of these sites as well as their "Terms of Service" before engaging in any business or uploading any information.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <hr>
                                <p><strong class="h4-responsive">Consent :-</strong> By using our website, you hereby consent to our disclaimer and agree to its terms. Check out our terms & conditions here.<a href="terms-and-conditions.php"> <button class="btn btn-outline-black btn-sm waves-effect wow zoomIn">Terms & Conditions</button></a></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p><strong class="h4-responsive">Update :-</strong> We are always working and improving, Our site's <strong class="blue-text">IgnouCalculator</strong> disclaimer was last updated on: <small class="text-muted">February 05<sup>nd</sup> 2018</small></p>
                                <cite>Should we update, amend or make any changes to this document, those changes will be prominently posted here.</cite>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-muted center-justified">If you require any more information or have any questions about our site's disclaimer, please feel free to contact us <a href="index.php#feedback_form">here</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<script>
    $(document).ready(function(){
        new WOW().init();
    });
</script>