        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron text-center">
                        <h1 class="card-title h2-responsive mt-2 blue-text"><strong style="text-shadow:0px 0px 2px black"><i class="fa fa-quote-left"></i> Frequently Asked Questions <i class="fa fa-quote-right fa-x"></i></strong></h1>
                        <p class="blue-text mb-4 font-bold text-capitalize">This section provides answers to all the confusing questions you may have</p>
                        <div class="d-flex justify-content-center">
                            <p class="card-text mb-3" style="max-width: 46rem;">
                                If you encounter any problem while surfing the site or have any confusion regarding IgnouCalculator then don't worry, we answer most of those frequently asked questions here.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissible faqHeader text-center" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <span>Get instant answers for the most common questions about this site and learn how to use it in no time.
                            If there are still unanswered questions, we would be happy to answer them just <a href="/#feedback_form">leave us a feedback here</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <h5 class="mb-0">
                                        Are my marks and grades represented here, authentic? <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-body">
                                    <span class="badge badge-primary z-depth-2 px-2 py-1">Answer</span> 
                                    Yes, the marks and grades are directly fetched from IGNOU's database servers. 
                                    The site just calculates percentages of various assignments, theory and practical papers and represent
                                    them in an aggregate manner so that you don't have to go through the hassle manually.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwo">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <h5 class="mb-0">
                                        Is this an official IGNOU site? <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-body">
                                    <span class="badge badge-primary z-depth-2 px-2 py-1">Answer</span> 
                                    No, it's not an official IGNOU site and we do not make any such claims, although the data shown here
                                    is completely authentic and 100% correct as published by IGNOU on their official site.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingThree">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <h5 class="mb-0">
                                        Will i be charged for using this website? <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="card-body">
                                    <span class="badge badge-primary z-depth-2 px-2 py-1">Answer</span>
                                    As the saying goes, <i>"Knowledge can not be bought or sold"</i> therefore the information here
                                    would always remain free of cost.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingFour">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <h5 class="mb-0">
                                        Does this site store my personal information? <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                </a>
                            </div>
                            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="card-body">
                                    <span class="badge badge-primary z-depth-2 px-2 py-1">Answer</span>
                                    As of now, we do not store our user's personal information but for the future, we are planning
                                    to add a couple of features that will require you to sign-up using your personal information
                                    like e-mail address, name etc.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingFive">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    <h5 class="mb-0">
                                        What more this site offers that others don't? <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                </a>
                            </div>
                            <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                                <div class="card-body">
                                    <span class="badge badge-primary z-depth-2 px-2 py-1">Answer</span>
                                    Well, to not make any tall claims, this site offers one stop solution to all your queries which can arise while studying in IGNOU. As the site has been developed by IGNOU alumni, we have tried to address all the issues we faced during our time so that no one else has to. From 'Course material' to 'Assignments' to proper 'Project Guidelines' we have covered it all.<i class="fa fa-smile-o fa-2x" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
        </div>