        <div class="container">
            <div class="row align-items-start mt-4">
                <div class="col-md-12">
                    <h4><strong>Previous Year Question Papers</strong></h4>
                </div>
                <div class="col-md-12 text-justify">
                    <p class="h6-responsive">
                        <strong>
                            Download IGNOU's previous year question papers of last <strong>10 years</strong> for <span class="text-primary">BCA &amp; MCA</span> programmes. In addition, you can also download question papers for all other programmes semester-wise from below.
                            IGNOU conducts <a href="http://www.ignou.ac.in/ignou/studentzone/results/2" target="_blank" rel="nofollow">Term End Examination</a> in the month of <span class="text-danger">June &amp; December</span> every year.
                            You can download these old papers and solve it yourself for better preparation.
                            To download papers of BCA &amp; MCA click on their respective links below, for all other programmes you need to click on year/session for which you require the paper.
                            Clicking on the links below will start the download of papers in <span class="fa fa-file-pdf-o text-danger"></span> PDF format.
                        </strong>
                    </p>
                </div>
                <div class="col-md-12">
                    <h4 class="h4-responsive"><strong>Download Question Papers of BCA / MCA </strong></h4>
                    <table class="table table-bordered table-striped text-center">
                        <thead class="mdb-color darken-3 white-text">
                            <tr>
                                <th class="text-center">Programme Code</th><th class="text-center">Programme Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>BCA</th><td><a href="bca-question-papers.php">Bachelor Of Computer Application</a></td>
                            </tr>
                            <tr>
                                <th>MCA</th><td><a href="mca-question-papers.php">Master Of Computer Application</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    <h4><strong>Download Question Papers by Year / Session</strong></h4>
                    <table class="table table-striped table-bordered text-center">
                        <thead>
                        <th class="text-center mdb-color darken-3 white-text">Year</th><th class="text-center mdb-color darken-3 white-text ">Session</th>
                        </thead>
                        <tbody>
                            <tr>
                                <th rowspan="2">2016</th><td><a target="_blank" rel="nofollow" href="https://webservices.ignou.ac.in/Pre-Question/Question%20Paper%20December%202016/QPDec2016.htm">December</a></td>
                            </tr>
                            <tr>
                                <td><a target="_blank" rel="nofollow" href="https://webservices.ignou.ac.in/Pre-Question/Question%20Paper%20June%202016/QPJune2016.htm">June</a></td>
                            </tr>
                            <tr>
                                <th rowspan="2">2015</th><td><a target="_blank" rel="nofollow" href="https://webservices.ignou.ac.in/Pre-Question/Question%20Paper%20December%202015/QPdecember2015.htm">December</a></td>
                            </tr>
                            <tr>
                                <td><a target="_blank" rel="nofollow" href="https://webservices.ignou.ac.in/Pre-Question/Question%20Paper%20june%202015/QPjune2015.htm">June</a></td>
                            </tr>
                            <tr>
                                <th rowspan="2">2014</th><td><a target="_blank" rel="nofollow" href="https://webservices.ignou.ac.in/Pre-Question/Question%20Paper%20December%202014/QPdecember2014.htm">December</a></td>
                            </tr>
                            <tr>
                                <td><a target="_blank" rel="nofollow" href="https://webservices.ignou.ac.in/Pre-Question/Question%20Paper%20June%202014/QPjune2014.htm">June</a></td>
                            </tr>
                            <tr>
                                <th rowspan="2">2013</th><td><a target="_blank" rel="nofollow" href="https://webservices.ignou.ac.in/Pre-Question/Question%20Paper%20Dec%202013/QPdec2013.htm">December</a></td>
                            </tr>
                            <tr>
                                <td><a target="_blank" rel="nofollow" href="https://webservices.ignou.ac.in/Pre-Question/Question%20Paper%20June%202013/QP_June_2013.htm">June</a></td>
                            </tr>
                            <tr>
                                <th rowspan="2">2012</th><td><a target="_blank" rel="nofollow" href="https://webservices.ignou.ac.in/Pre-Question/Question%20Paper%20December%202012/QP_December_2012.htm">December</a></td>
                            </tr>
                            <tr>
                                <td><a target="_blank" rel="nofollow" href="https://webservices.ignou.ac.in/Pre-Question/Question%20Paper%20June%202012/QP_June_2012.htm">June</a></td>
                            </tr>
                            <tr>
                                <th rowspan="2">2011</th><td><a target="_blank" rel="nofollow" href="https://webservices.ignou.ac.in/Pre-Question/QP_%20December_2011.htm">December</a></td>
                            </tr>
                            <tr>
                                <td><a target="_blank" rel="nofollow" href="https://webservices.ignou.ac.in/Pre-Question/Question%20papers%20June%202011/QP_june_2011.htm">June</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>