        <div class="container-fluid">
            <div class="row pt-3">
                <div class="col-md-12 d-flex justify-content-center align-item-center text-center">
                    <h2 class="h2-responsive animated zoomIn" style="font-family:'Courier';text-shadow:0px 0px 1px #009900;">Meet The Folks Behind IgnouCalculator!</h2>                    
                </div>
                <br/>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="line"></div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-4 mt-3 px-2">
                    <div class="card testimonial-card mx-2 hoverable animated slideInLeft">
                        <div class="card-up z-depth-3 card-wrapper"></div>
                        <div class="avatar team-scorpion mx-auto" style="margin-top:-75px !important;z-index:2 !important;"><img src="https://lh5.googleusercontent.com/-dGuGbok-oSI/AAAAAAAAAAI/AAAAAAAAApE/_hBXGxfUjos/photo.jpg?sz=150" class="team-img rounded-circle img-responsive" height="150" width="150" alt="aditya_image" style="border:10px solid #fafafa">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title text-center">Aditya Pratap Singh</h4>
                            <p class="text-center text-muted font-bold wow fadeInUp" data-wow-delay="0.2s">&lt;/ Full-Stack Developer &gt;</p>
                            <hr>
                            <p class="text-justify" style="text-align-last:center">
                                <i class="fa fa-quote-left"></i>
                                Developer / Designer, credited with designing the core features.
                                Have experience in analysis, design, development, testing and implementation of desktop and web-applications...<span class=" blue-text">[..]</span>
                            </p>
                            <h4 class="text-center text-muted" style="font-family:'harrington'">N E R D - S K I L L S</h4>
                            <div class="row d-flex justify-content-center align-item-center text-center mt-3">
                                <strong class="col-4">Python: </strong>
                                <span class="col-8 text-primary">================</span>
                            </div>
                            <div class="row d-flex justify-content-center align-item-center text-center">
                                <strong class="col-4">Java: </strong>
                                <span class="col-8 text-warning">================</span>
                            </div>
                            <div class="row d-flex justify-content-center align-item-center text-center">
                                <strong class="col-4">PHP: </strong>
                                <span class="col-8 text-danger">================</span>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-center align-item-center text-center">
                            <a href="https://www.facebook.com/adi.singh1992" rel="nofollow" target="_blank" class="icons-sm fb-ic"><i class="fa fa-facebook" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="https://www.github.com/adisingh1992" rel="nofollow" target="_blank" class="icons-sm gi-ic"><i class="fa fa-github" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="https://plus.google.com/+AdityaSingh1992" rel="nofollow" target="_blank" class="icons-sm glus-ic"><i class="fa fa-google-plus" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="https://twitter.com/h4ck3radi" rel="nofollow" target="_blank" class="icons-sm tw-ic"><i class="fa fa-twitter" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="https://www.linkedin.com/in/aditya-singh-a4a1889a" rel="nofollow" target="_blank" class="icons-sm li-ic"><i class="fa fa-linkedin" aria-hidden="true"> </i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-3 px-2">
                    <div class="card testimonial-card mx-2 hoverable animated fadeIn">
                        <div class="card-up z-depth-3 card-wrapper">
                        </div>
                        <div class="avatar team-scorpion mx-auto" style="margin-top:-75px !important;z-index:2 !important;"><img src="https://graph.facebook.com/100006778595941/picture?type=square&width=150&height=150" class="team-img rounded-circle img-responsive" height="150" width="150" alt="shiv_image" style="border:10px solid #fafafa">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title text-center">ShivMohan</h4>
                            <p class="text-center text-muted font-bold wow fadeInUp" data-wow-delay="0.3s">&lt;/ Web Designer & Co-Op &gt;</p>
                            <hr>
                            <p class="text-justify" style="text-align-last:center">
                                <i class="fa fa-quote-left"></i>
                                UI designer with a passion for designing beautiful and functional
                                user experiences. Minimalist who believes that less is more. Have considerable experience in 
                                HTML/CSS, JS/Jquery etc..<span class=" blue-text">[..]</span>
                            </p>
                            <h4 class="text-center text-muted" style="font-family:'harrington'">N E R D - S K I L L S</h4>
                            <div class="row d-flex justify-content-center align-item-center text-center mt-3">
                                <strong class="col-4">JQuery: </strong>
                                <span class="col-8 text-primary">================</span>
                            </div>
                            <div class="row d-flex justify-content-center align-item-center text-center">
                                <strong class="col-4">HTML: </strong>
                                <span class="col-8 text-warning">================</span>
                            </div>
                            <div class="row d-flex justify-content-center align-item-center text-center">
                                <strong class="col-4">PHP: </strong>
                                <span class="col-8 text-danger">================</span>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-center align-item-center text-center">
                            <a href="https://www.facebook.com/SHIVMOHAN1994" rel="nofollow" target="_blank" class="icons-sm fb-ic"><i class="fa fa-facebook" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="https://github.com/shivmohan1994" rel="nofollow" target="_blank" class="icons-sm gi-ic"><i class="fa fa-github" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="https://plus.google.com/+ShivMohan94" rel="nofollow" target="_blank" class="icons-sm glus-ic"><i class="fa fa-google-plus" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="https://twitter.com/ShivMohan194" rel="nofollow" target="_blank" class="icons-sm tw-ic"><i class="fa fa-twitter" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="https://www.linkedin.com/in/shiv-mohan-58a855148/" rel="nofollow" target="_blank" class="icons-sm li-ic"><i class="fa fa-linkedin" aria-hidden="true"> </i></a>
                        </div>
                    </div>                    
                </div>
                <div class="col-md-4 mt-3 px-2">
                    <div class="card testimonial-card mx-2 hoverable animated slideInRight">
                        <div class="card-up z-depth-3 card-wrapper">
                        </div>
                        <div class="avatar team-scorpion mx-auto" style="margin-top:-75px !important;z-index:2 !important;"><img src="https://graph.facebook.com/100007476576819/picture?type=square&width=150&height=150" class="team-img rounded-circle img-responsive" height="150" width="150" alt="shivam_image" style="border:10px solid #fafafa">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title text-center">Shivam Verma</h4>
                            <p class="text-center text-muted font-bold wow fadeInUp" data-wow-delay="0.3s">&lt;/ Front-End Developer &gt;</p>
                            <hr>
                            <p class="text-justify" style="text-align-last:center;">
                                <i class="fa fa-quote-left"></i>
                                Front-end developer who focuses on writing clean, elegant and efficient code.
                                Loves to work with HTML5, CSS3, PHP, Wordpress and a touch of JQuery/Javascript,
                                also an avid blogger..<span class=" blue-text">[..]</span>
                            </p>
                            <h4 class="text-center text-muted" style="font-family:'harrington'">N E R D - S K I L L S</h4>
                            <div class="row d-flex justify-content-center align-item-center text-center mt-3">
                                <strong class="col-4">WP: </strong>
                                <span class="col-8 text-primary">================</span>
                            </div>
                            <div class="row d-flex justify-content-center align-item-center text-center">
                                <strong class="col-4">JSP: </strong>
                                <span class="col-8 text-warning">================</span>
                            </div>
                            <div class="row d-flex justify-content-center align-item-center text-center">
                                <strong class="col-4">PHP: </strong>
                                <span class="col-8 text-danger">================</span>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-center align-item-center text-center">
                            <a href="https://www.facebook.com/shivambcadu" rel="nofollow" target="_blank" class="icons-sm fb-ic"><i class="fa fa-facebook" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="https://github.com/shivambca" rel="nofollow" target="_blank" class="icons-sm gi-ic"><i class="fa fa-github" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="https://plus.google.com/+ShivamVerma1996" rel="nofollow" target="_blank" class="icons-sm glus-ic"><i class="fa fa-google-plus" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="#" rel="nofollow" target="_blank" class="icons-sm tw-ic"><i class="fa fa-twitter" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="https://www.linkedin.com/in/shivam-verma-0708a4148/" rel="nofollow" target="_blank" class="icons-sm li-ic"><i class="fa fa-linkedin" aria-hidden="true"> </i></a>
                        </div>
                    </div>
                    <br />
                    <br />
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function(){
                new WOW().init();
            });
        </script>