        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron text-center">
                        <h1 class="card-title h2-responsive mt-2 blue-text"><strong style="text-shadow:0px 0px 2px black"><i class="fa fa-quote-left"></i> Terms & Conditions <i class="fa fa-quote-right"></i></strong></h1>
                        <p class="blue-text mb-4 font-bold text-capitalize">Checkout IgnouCalculator's terms & conditions</p>
                        <div class="d-flex justify-content-center">
                            <p class="card-text mb-3 center-justified" style="max-width: 75rem;">
                                Please read these Terms and Conditions carefully before using this website (the "Service") operated by Team Scorpion ("us", "we", or "our"). Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service. By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.
                            </p>
                        </div>
                    </div>
                </div>
            </div>                      
            <div class="row">
                <div class="col-md-12 ">
                    <div class="wrapper mx-3">
                        <h4 class="h4-responsive blue-text">
                            <strong>Links to other Websites</strong>
                        </h4>
                        <p id="abcd" class="text-justify">Our Service may contain links to third-party web sites or services that are not owned or controlled by IgnouCalculator. IgnouCalculator has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that IgnouCalculator shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services. We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.</p>
                        <h4 class="h4-responsive blue-text">
                            <strong>Termination</strong>
                        </h4>
                        <p class="text-justify">We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms. All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
                        </p>
                        <h4 class="h4-responsive blue-text">
                            <strong>Governing Law</strong>
                        </h4>
                        <p class="text-justify">These Terms shall be governed and construed in accordance with the laws of Uttar Pradesh, India, without regard to its conflict of law provisions. Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.
                        </p>
                        <h4 class="h4-responsive blue-text">
                            <strong>Changes</strong>
                        </h4>
                        <p class="text-justify">We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion. By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.
                        </p>
                        <h4 class="h4-responsive blue-text">
                            <strong>Contact Us</strong>
                        </h4>
                        <p class="text-justify">If you have any questions about these Terms, please contact us by <a href="index.php#feedback_form">filling up this form.</a>
                        </p>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
        </div>